h2 {
    color: black;
    text-align: center;
}
.img-1 {
    margin-left: 20%;
    display: inline-block;
}
h5 {
    margin-left: 45px;
    color: black;
}
.img-2 {
    display: inline-block;
    margin-left: 30px;
}
.img-3 {
    display: inline-block;
    margin-left: 30px;
}
.img-4 {
    display: inline-block;
    margin-left: 35%;
}
.img-5 {
    display: inline-block;
    margin-left: 30px;

}
