.top-1 {
    display: inline-block;
    margin-left: 25%;
}
.top-2 {
    display: inline-block;
    margin-left: 25px;
}
.top-3 {
    display: inline-block;
    margin-left: 25px;
   
}
.main {
    padding-bottom: 50px;
   
}